@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

:root {
    --brand-green: #03522a;
    --brand-yellow: #facc15;

    --primary-50: #03522a;
    --primary-100: #03522a;
    --primary-200: #03522a;
    --primary-300: #03522a;
    --primary-400: #03522a;
    --primary-500: #03522a;
    --primary-600: #03522a;
    --primary-700: #03522a;
    --primary-800: #03522a;
    --primary-900: #ffffff;
    --primary-950: #03522a;
}

.fi-simple-header-heading {
    display: none !important;
}

.fi-simple-main-ctn {
    background-color: #03522a;
}

.fi-topbar {
    background-color: #03522a;
}

.fi-sidebar-nav {
    background-color: #ffffff;
    border-right: 1px solid #e0e0e1;
}

.fi-sidebar-item-label {
    color: #03522a;
}

.fi-sidebar-item-icon {
    color: #03522a;
}

.fi-sidebar-item.fi-active > .fi-sidebar-item-btn {
    background-color: var(--brand-green);
}

.fi-sidebar-item.fi-active > .fi-sidebar-item-btn .fi-sidebar-item-label,
.fi-sidebar-item.fi-active > .fi-sidebar-item-btn .fi-icon {
    color: var(--brand-yellow);
}

.fi-ta-header {
    background-color: #03522a;
    border-radius: 0.5rem 0.5rem 0 0;
}

.fi-ta-header-heading {
    color: var(--brand-yellow);
}

.fi-ta-header-description {
    color: #ffffff;
}

.fi-section-header {
    background-color: #03522a;
    border-radius: 0.5rem 0.5rem 0 0;
}

.fi-section-header-description {
    color: #ffffff;
}

.fi-section-header-heading {
    color: var(--brand-yellow);
}
